.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.hidden {
  width:0;
  height:0;
  overflow:hidden;
  position: absolute;
  left:-1000000px;
}

h1 {
    font-family: "Open Sans", fontstack("Arial");
    font-size:em(32);
    border:rem(1) solid red;
}

h2 {
    font-family: "Droid Sans", fontstack("Extra Stack");
    font-size:rem(32);
    padding:rem(32), rem(20), rem(15), rem(0);
}

.done-true {
  text-decoration: line-through;
  color: grey;
}
.note-wrapper {
  display:flex;
  padding:20px;
  height:200px;
}
.note {
  flex-grow: 1;
  margin:0 10px;
  padding:20px;
  background-color: lightYellow;
  &:nth-child(1) {
    margin:0 10px 0 0;
  }
  &:nth-child(4) {
    margin:0 0 0 10px;
  }
}
.done {
  background-color:green;
}
.pending {
  background-color:red;
}
.form-wrapper {
  max-width:500px;
  margin:rem(30) auto;
}
.form-form {
  display:block;
  margin:0 0 rem(40);
}
.form-input {
  width:100%;
  border:1px solid #d0d0d0;
  border-radius:3px;
  font-size:rem(18);
  font-family:"Helvetica Neue", sans-serif;
  color:#444;
  padding:rem(8);
  display:block;
  margin:0 0 rem(25) 0;
}
.form-input.ng-dirty.ng-invalid {
  border:1px solid red;
  transition: border .3s;
}
.form-button {
  background-color: RoyalBlue;
  border:0px;
  color:white;
  border-radius:3px;
  font-size:rem(18);
  font-family:"Helvetica Neue", sans-serif;
  padding: rem(8) rem(16);
}
.form-button:disabled {
  background-color: LightSkyBlue;
}
.form-button.secondary {
  background-color: #666;
}
.form-button.secondary:disabled {
  background-color: #d0d0d0;
}
