<!-- Note: The contents of this file is prototype code created by Cantina and is not intended to be used in prodution. -->
<!doctype html>
<html class="no-js" lang="" ng-app="notesApp">
    @@include('../html_partials/common/head.html')

    <body ng-controller="notesController as notes">


      @@include('../html_partials/table.html')


    </body>
    <!-- @@include('../html_partials/common/js_links.html') -->
    <script>
    (function() {
      "use strict";
      // pageFunctions.intialize();
    })();
    </script>
</html>
