<!-- Note: The contents of this file is prototype code created by Cantina and is not intended to be used in prodution. -->
<!doctype html>
<html class="no-js" lang="en">
    @@include('../html_partials/common/head.html')

    <body>
      <!-- @@include('../html_partials/todo.html') -->
      <!-- @@include('../html_partials/table.html') -->
      <!-- @@include('../html_partials/notesapp.html') -->

      <!-- @@include('../html_partials/chapter_four.html') -->
      <!-- @@include('../html_partials/chapter-five.html') -->
      <!-- @@include('../html_partials/chapter-six.html') -->
      <!-- @@include('../html_partials/chapter-seven.html') -->
      <!-- @@include('../html_partials/chapter-eight.html') -->
      <!-- @@include('../html_partials/chapter-ten.html') -->
      <!-- @@include('../html_partials/chapter-eleven.html') -->
      @@include('../html_partials/chapter-thirteen.html')



    </body>
    <!-- @@include('../html_partials/common/js_links.html') -->
    <script>
    (function() {
      "use strict";
      // pageFunctions.intialize();
    })();
    </script>
    <!-- <script src="./scripts/angular.min.js"></script>
    <script src="./scripts/angular-messages.min.js"></script>
    <script src="./scripts/angular-route.min.js"></script>
    <script src="scripts/main.js"></script> -->
</html>
