<section ng-app="stockMarketApp">
  <div ng-controller="MainCtrlEleven as mainCtrl" >

    <h3>List of stocks using repeaters</h3>
    <div ng-repeat="s in mainCtrl.stocks">
      <div stock-widget
      stock-data="s"
      stock-title= "Stock {{$index}}. {{s.name}}"
      when-select="mainCtrl.onStockSelect(stockPrice, stockName)">
      </div>
    </div>
    <!-- <h3>List of stocks repeating manually</h3>
    <div stock-widget stock-data="mainCtrl.stocks[0]">
    </div>
    <div stock-widget stock-data="mainCtrl.stocks[1]">
    </div>
    <button ng-click="mainCtrl.changeAllStocks()">Change all stocks</button>
    <button ng-click="mainCtrl.changeFirstStock()">Change first stock</button> -->
    <!-- <h3>List of stocks</h3> -->
    <!-- <div ng-repeat="s in mainCtrl.stocks">
      <div stock-widget stock-data="s">
      </div>
    </div> -->
  </div>
</section>
