<div class="notes-container" ng-switch on="notes.modal">
  <article class="notes-note" ng-repeat="s in notes.data track by $index" ng-switch on="notes.modal" data-note="note{{$index}}">

<!--  notes delete modal -->
@@include("../../html_partials/views/delete_modal.html")

<!--  notes edit modal -->
@@include("../../html_partials/views/notes_edit.html")

<!-- notes content -->
@@include("../../html_partials/views/notes_content.html")

  </article>

<!-- create new note -->
<!-- @@include("../../html_partials/views/notes_create.html") -->

</div>
</div>
