<div class="notes-container">
  <article class="notes-note" ng-repeat="s in notes.data track by $index"">
    <div class="notes-content">
      <p class="notes-text" ng-bind="s.note">
      </p>
      <p class="notes-author" ng-bind="s.author">
      </p>
    </div>
    <div class="notes-options">
      <form class="notes-form">
        <input type="checkbox" id="done-{{$index}}" /><label for="done-{{$index}}" class="notes-checkbox">Done</label>
        <button class="notes-btn">Remove</button>
      </form>
    </div>
  </article>
    <article class="notes-note">
      <div class="notes-options">
          <form>
          <input type="textfield"/>
          <input type="text" />
          <input type="checkbox" id="done" /><label for="done" class="notes-checkbox">Done</label>
          <button ng-click="notes.saveAction()" class="notes-btn">Save</button>
        </form>
      </div>
    </article>
</div>
