<article class="notes-note">
  <div class="notes-content">
    <form ng-submit="notes.saveAction()">
      <input ng-model="notes.editData.note" type="textfield" placeholder="note"/>
      <input ng-model="notes.editData.author" type="text" placeholder="author"/>
      <input type="checkbox" id="done"
        ng-model="notes.editData.done"
        ng-true-value="'YES'"
        ng-false-value="'NO'"
        />
      <label for="done" class="notes-checkbox">Done</label>
      <button type="submit" value="Submit" class="notes-btn">Save</button>
    </form>
  </div>
</article>
